button {
    border: 12px;
    background-color: black;
    text-align: center;
    color: white;
}

#table {
    border: 12px;
    background-color: white;
    text-align: center;
    width: 100%;
}

tr {
    height: 20px;
}

td {
    border: 2px solid black;
    background-color: white;
    height: 20px;
    width: 20px;
}